<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
</head>
<body>
    <div class="add-book">
        <h1>Add Book</h1>
        <form>
            <label for="title">Title</label>
            <input type="text" name="title">
            <label for="desc">Description</label>
            <input type="text" name="desc">
            <input type="submit" name="submit" value="Add">
        </form>
    </div>
    
</body>
</html>